In [1]:
import sys, os
from pathlib import Path


PROJECT_ROOT = Path.cwd().parent
sys.path.insert(0, str(PROJECT_ROOT))

print(PROJECT_ROOT)

/Users/rajpawar/bootcamp_Rajvardhan_Pawar

In [3]:
%load_ext autoreload
%autoreload 2

from src.cleaning import fill_missing_median, drop_missing, normalize_data

In [5]:
import pandas as pd
from pathlib import Path

RAW = PROJECT_ROOT / "data" / "raw"
PROC = PROJECT_ROOT / "data" / "processed"
PROC.mkdir(parents=True, exist_ok=True)

# Change this to your actual CSV filename
df_raw = pd.read_csv(RAW / "scrape_wikipedia_sp500_constituents_20250818-1555.csv")

df_raw.head()

  symbol             security
0    MMM                   3M
1    AOS          A. O. Smith
2    ABT  Abbott Laboratories
3   ABBV               AbbVie
4    ACN            Accenture

In [9]:
df1 = drop_missing(df_raw, threshold=0.8)       # Drop cols with >80% missing
df2 = fill_missing_median(df1)                  # Fill NaNs with medians
df_clean = normalize_data(df2)                  # Normalize numeric columns

df_clean.head()

  symbol             security
0    MMM                   3M
1    AOS          A. O. Smith
2    ABT  Abbott Laboratories
3   ABBV               AbbVie
4    ACN            Accenture

In [13]:
from pathlib import Path

PROC = PROJECT_ROOT / "data" / "processed"
PROC.mkdir(parents=True, exist_ok=True)

out_path = PROC / "cleaned_sp500.csv"
df_clean.to_csv(out_path, index=False)

print(out_path)

/Users/rajpawar/bootcamp_Rajvardhan_Pawar/data/processed/cleaned_sp500.csv

In [15]:
comparison = pd.DataFrame({
    "missing_before": df_raw.isna().sum(),
    "missing_after":  df_clean.reindex(df_raw.columns, axis=1).isna().sum()
})

comparison

          missing_before  missing_after
symbol                 0              0
security               0              0